@font-face {
    font-family: customFont;
    src: url(./font.ttf);
}

html, body {
    font-family: sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 50px;
}

form{
    padding: 5rem;
    padding-top: 10rem;
    
    display: flex;
    flex-wrap: wrap;
    gap:64px;
    background-color: rgb(27,42,49);
    box-shadow: 0 10px 25px rgb(98, 131, 146);
    border-radius: 5px;

}

label {
    display: block;
    margin-bottom: 10px;
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 50px;
    border: none;
    flex: 1;
    padding: 0;
    width: 50%;
}

input {
    background-color: transparent;
    border: 2px rgb(141, 170, 168) solid;
    border-radius: 5px;
    font-size: 24px;
    color: rgb(194,221,219);
    padding: 4px;
    margin: 0;
    width: 100%;
}

button{
    align-self: flex-start;
    padding: 20px;
    background-color: rgb(141, 170, 168);
    border: none;
    border-radius: 10px;
    margin: 0 5rem;
}

a {
    text-decoration: underline;
    color: white;
}

button:hover {
    background-color: rgba(37, 71, 37, 0.76);
    outline: 0.5px solid black;
    color: white;
    
}

input:hover {
    border-color: rgb(194,221,219);
}

.contents {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.imagebar {
    background-image: url(./background.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 35vw;
    font-family: customFont, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-form{
    height: 100vh;
    width: 65vw;
    color: white;
    background-color: rgb(38,61,71);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.placeholder-text {
    margin-top: 50px;
    padding: 0 5rem;
    color: rgb(194,221,219);
    font-size: 24px;
    position: relative;
    top: 5%
}

.gapped-stext{ 
    margin-bottom: 0;
    font-size: 24px;
    color: rgb(194,221,219);
    padding: 0 5rem;
    position: relative;
    top: 15%;
}

.logo-section{
    display: flex;
    flex: 1;
    align-items: center;
    
}

.logo {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    width: 100%;
    background-color: rgba(37, 71, 37, 0.411);
    padding: 2rem;
    position:relative;
    bottom: 25%;
}

.odin-logo {
    width: 100px;
    height: 150px;
}

.image-ownership > p{
    flex: 2;
    font-size: 10px;
    color: white;
    margin-left: 0.5rem;
}

.login {
    padding: 0 5rem;
}
