@font-face {
    font-family: customFont;
    src: url(./font.ttf);
}
html, body {

    margin: 0;
    width: 100vw;
    height: 100vh;
}

.contents {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.imagebar {
    background-image: url(./background.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 35vw;
    font-family: customFont, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
}

.main-form{
    padding: 0 5rem;
    height: 100vh;
    width: 65vw;
    color: white;
    background-color: rgb(38,61,71);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 60px;
}

p{
    font-size: 30px;
    color: rgb(194,221,219);
    text-align: start;
}

form{
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    background-color: rgb(27, 42, 49);
}
label {
    display: block;
    margin-bottom: 10px;
}
fieldset{
    display: flex;
    flex-direction: column;
    gap: 50px;
    border: none;
    flex: 1;
    padding: 0;
}

input {
    background-color: transparent;
    border: 2px rgb(194,221,219) solid;
    border-radius: 5px;

    font-size: 24px;
    color: rgb(194,221,219);
    padding: 4px;
    margin: 0;
    width: 100%;
}

button{
    align-self: flex-start;
    padding: 20px;
    background-color: rgb(210,214,204);
    border: none;
    border-radius: 10px;
}

.placeholder-text {
    margin-top: 200px;
}

.logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.odin-logo {
    width: 150px;
    height: 150px;
    align-self: center;
    opacity: 100%;
}